---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Homepage">
	<main class="min-w-full min-h-full">
		<div class="desktop:h-[calc(100vh-8vb)] mobile:h-[calc(100vh-7.5vb)] relative text-center">

			<p 
				class="peer absolute bottom-1/2 left-1/2 -translate-x-1/2 translate-y-1/2 font-osaka text-text text-[10vb] font-medium text-opacity-75 transition duration-300 ease-in-out hover:scale-125 hover:text-opacity-100 hover:text-accent hover:animate-pulse mb-6 z-10 cursor-pointer"
			>
				Isekku
			</p>

			<p class="absolute whitespace-nowrap bottom-1/2 left-1/2 -translate-x-1/2 translate-y-1/2 mobile:pt-[10vb] desktop:pt-[12vb] desktop-lg:pt-[14vb] text-text text-[4vb] font-medium invisible transition duration-300 ease-in-out peer-hover:visible">
				Music and Lifestyle 
			</p>

			<img 
				alt="Isekku sitting on a tree" 
				src="/images/isaak-wide-focused.webp"
				loading="lazy"
				class="w-full h-full transition opacity-90 duration-300 ease-in-out peer-hover:opacity-25 object-cover"
			/>
		</div>

		<div class="container mx-auto px-8 py-16">
			<div class="flex flex-col flex-1 desktop:h-[25vh] mobile:h-[50vh] mobile:gap-10 justify-center items-center">
				<p class="desktop-lg:text-5xl desktop:text-3xl mobile:text-3xl text-center">Hi, I am Isaak, a.k.a. <b class="text-accent">Isekku</b>!</p>
				<p class="desktop-lg:text-5xl desktop:text-3xl mobile:text-3xl text-center">Welcome to my website, where you can take a look at my life and music.</p>
			</div>
	
			<div class="flex flex-1 flex-row desktop:h-[75vh] mobile:h-[50vh]">
				<img
					alt="Isekku sketch"
					src="/images/Isekku.webp"
					width={2048}
					height={2048}
					class="object-contain"
				/>
	
				<!-- <div class="">
					<p class="text-primary text-3xl">I do ... and ... </p>
					<br></br>
					<p class="text-primary text-3xl">My goal: becoming a full-time artist!</p>
				</div> -->
			</div>
		</div>
      
	</main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style> -->